# dependencies
node_modules/

# production build
dist/

# environment variables
.env
.env.local
.env.*.local

# editor & OS
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
